body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.jumbotron-index {
    text-align: center;
}

.jumbotron-index .row {
    margin-top: 70px;
}

.jumbotron-index a {
    font-size: 30px;
    text-transform: uppercase;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 10px;
}