<table>
  <tr>
    <td>Saturday<br /> Sep. 3</td>
    <strong>Fresno State Bulldogs </strong><br />
      Memorial Stadium, Lincoln, NE</td>
  </tr>
  <tr>
    <td>Saturday<br /> Sep. 10</td>
    <strong>Wyoming Cowboys </strong></a><br />
      Memorial Stadium, Lincoln, NE</td>
  </tr>
  <tr>
    <td">Saturday<br /> Sep. 17</td>
    <strong>Oregon Ducks </strong></a><br />
      Memorial Stadium, Lincoln, NE</td>
  </tr>
  <tr>
    <td">Saturday<br /> Sep. 24</td>
    <strong>at Northwestern Wildcats </strong></a><br />
      Ryan Field, Evanston, IL</td>
  </tr>
  <tr>
    <td>Saturday<br /> Oct. 1</td>
    <strong>Illinois Fighting Illini </strong><br />
      Memorial Stadium, Lincoln, NE</td>
  <tr>
    <td>Saturday<br /> Oct. 15</td>
    <strong>at Indiana Hoosiers </strong></a><br />
      Memorial Stadium, Bloomington, IN</td>
  <tr>
    <td>Saturday<br /> Oct. 22</td>
    <strong>Purdue Boilermakers </strong></a><br />
      Memorial Stadium, Lincoln, NE</td>
  </tr>
  <tr>
    <td>Saturday<br /> Oct. 29</td>
    <strong>at Wisconsin Badgers </strong></a><br />
      Camp Randall Stadium, Madison, WI</td>  
  </tr>
  <tr>
    <td>Saturday<br /> Nov. 5</td>
    <strong>at Ohio State Buckeyes </strong></a><br />
      Ohio Stadium, Columbus, OH</td>
  </tr>
  <tr>
    <td>Saturday<br /> Nov. 12</td>
    <strong>Minnesota Golden Gophers </strong></a><br />
      Memorial Stadium, Lincoln, NE</td>
  </tr>
  <tr>
    <td>Saturday<br /> Nov. 19</td>
   <strong>Maryland Terrapins </strong></a><br />
      Memorial Stadium, Lincoln, NE</td>
  </tr>
  <tr>
    <td>Friday<br /> Nov. 25</td>
    <strong>at Iowa Hawkeyes </strong></a><br />
      Kinnick Stadium, Iowa City, IA</td>  
  </tr>
  <tr>
    <td>Saturday<br /> Dec. 3</td>
    <strong>Big Ten Championship Game</strong><br />
      Lucas Oil Stadium, Indianapolis, IN</td>
  </tr>
</table>
