{% extends "base.html" %}

{% block content %}
    <h2>Evanston Forecast</h2>
    <hr>
    {% if lincoln_forecast %}
        <div class="weather-container">
        <div class="row">
            {% for weather_item in lincoln_forecast %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>
                                <img src="http://openweathermap.org/img/w/{{weather_item.icon}}.png" alt="">
                                {{weather_item.temp}} &deg; F
                                  / 
                                    {{weather_item.temp_night}} &deg; F
                            </h4>
                            {{weather_item.description.title()}} on {{weather_item.dt | timestamp_to_date}}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Conditions</td>
                                        <td>{{weather_item.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Pressure</td>
                                        <td>{{weather_item.pressure}}</td>
                                    </tr>
                                    <tr>
                                        <td>Humidity</td>
                                        <td>{{weather_item.humidity}}</td>
                                    </tr>
                                    <tr>
                                    {% if weather_item.wind %}
                                        <td>Wind</td>
                                        <td>{{weather_item.wind}}</td>
                                    {% endif %}
                                    </tr>
                                    <tr>
                                    {% if weather_item.sunrise %}
                                        <td>Sunrise</td>
                                        <td>{{weather_item.sunrise | timestamp_to_time}}</td>
                                    {% endif %}
                                    </tr>
                                    <tr>
                                    {% if weather_item.sunset %}
                                        <td>Sunset</td>
                                        <td>{{weather_item.sunset | timestamp_to_time}}</td>
                                    {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
    {% endif %}
{% endblock %}